@model BackOfficeRAM.ViewModels.CreateEditRoteiroViewModel


<br />
<h4> Novo Roteiro</h4>
<hr />

@using (Html.BeginForm("Create", "Roteiros", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_FormCreateEdit")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}