@model BackOfficeRAM.ViewModels.CreateEditRoteiroViewModel


<br />
<h4> Novo Roteiro</h4>
<hr />

@using (Html.BeginForm("Create", "Roteiros", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_FormCreateEdit")
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#sortable").sortable({
                update: function () {
                    $.each($("#sortable tr"), function (index, tr) {
                        $(tr).find('.posicao:first').val(index);
                    });
                }
            });
            $("#sortable").disableSelection();
        });

        $(document).ready(function () {
            $('#listaPontos').selectize({
                create: false,
                sortField: 'text'
            });
        });


    </script>
}