@model BackOfficeRAM.ViewModels.CreateEditRoteiroViewModel



<br />
<h2>Editar Roteiro</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_FormCreateEdit")
}

<div>
    @Html.ActionLink("Regressar à lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
