body, html {
    background-color: aliceblue;
}




.navbar {
    display: unset;
    padding: 0;
}

.container {
    max-width: 1300px;
}

.form-control, .typeahead, .tt-query, .tt-hint {
    border: 1px solid #02b1f7;
    font-weight: 400;
    font-size: 0.875rem;
    height: auto;
}


.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    padding-right: 50px;
}

.auth .login-half-bg {
    background: url("../fotos/convento.jpg");
    background-size: cover;
}

.input-group {
    display: unset;
}

.form-control-lg {
    border-radius: 0;
}

select.form-control, select.typeahead, select.tt-query, select.tt-hint {
    color: #222;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f0f3f6;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    background: url(../fotos/templar.jpg);
    background-position: center;
    height: 500px;
    align-items: center;
    justify-content: center;
}


.container-fluid {
    padding-right: 15px;
}


.card-border-azul:after {
    content: '';
    height: 5px;
    width: 100%;
    border-radius: 0 0 6px 6px;
    background-color: #0ddbb9;
    position: absolute;
    left: 0;
    bottom: 0;
}

.card-border-azul:after {
    content: '';
    height: 5px;
    width: 100%;
    border-radius: 0 0 6px 6px;
    background-color: #0ad7f7;
    position: absolute;
    left: 0;
    bottom: 0;
}

.card-border-laranja:after {
    content: '';
    height: 5px;
    width: 100%;
    border-radius: 0 0 6px 6px;
    background-color: #ee5b5b;
    position: absolute;
    left: 0;
    bottom: 0;
}
