@{
    ViewBag.Title = "Sobre";
}
<br />
<div id="idAcerca" class="hidden">
    <div style="text-align: justify; margin: 15px; margin-bottom: 20px">
        <h4 style="color:peru">Sobre a aplicação:</h4>
        O guia virtual do Roteiro de Arquitetura Moderna da cidade de Tomar integra um conjunto selecionado de
        edifícios públicos e residenciais que foram projetados entre 1930 e 1965.<br>
        <br>O Roteiro de Arquitetura Moderna surgiu na sequência de um projeto de investigação iniciado no final
        de 2015, e para o qual foi estabelecido um protocolo entre o Instituto Politécnico de Tomar e a Câmara
        Municipal de Tomar. A parceria possibilitou o desenvolvimento de um estudo sobre a Arquitetura Moderna
        na cidade de Tomar, através do levantamento, pesquisa e análise de um conjunto de edifícios, projetados
        entre 1930 e 1965. O trabalho desenvolvido resultou numa exposição e na publicação impressa de um
        roteiro na forma de livro, em 2018.<br>
        <br>Dado que um dos objetivos do projeto incidiu na divulgação deste património ao público em geral,
        julgou-se pertinente a sua transposição para outros formatos e plataformas. Com efeito, a constituição
        de um guia virtual pode revelar-se uma base importante para a valorização de edifícios construídos sob a
        égide do modernismo e dos espaços urbanos que ocupam e transformam. O registo virtual do objeto imóvel
        pode assim ser uma forma de enquadrar e ampliar as estratégias de divulgação do património arquitetónico
        aos utilizadores cada vez mais frequentes de plataformas digitais, criando novos referenciais em
        alternativa aos guias e roteiros culturais e turísticos convencionais.<br>
        <br>O guia virtual do Roteiro de Arquitetura Moderna foi desenvolvido pelos pelos estudantes da unidade
        da Licenciatura em Engenharia Informática do Instituto Politécnico de Tomar no ambito da unidade
        curricular Projeto no ano letivo (2018-2019) e redesenvolvida no ano letivo (2019-2020) de forma a
        funcionar dinamicamente no ambito da unidade curricular  de Projeto de Sistemas de Informação.
    </div>
    <div style="margin: 15px">
        <div style="margin-bottom: 20px">
            <h4 style="color: peru">Alunos</h4>
            <h6 style="font-weight: bold">Desenvolvedores da app original:</h6>
            Rodolfo Santos<br>
            Tiago Costa
            <br>
            <br>
            <h6 style="font-weight: bold">Desenvolvedores da app dinâmica:</h6>
            Alexandre Nogueira<br>
            Ana Silvério<br>
            Cláudio Velez<br>
            Frederico Riachos<br>
            Gonçalo Ferreira<br>
            Pedro Sousa<br>
            Rui Sobral<br>
        </div>

        <div style="margin-bottom: 20px">
            <h4 style="color: peru"> Orientador</h4>
            Paulo Santos
        </div>

        <div style="margin-bottom: 20px">
            <h4 style="color: peru">Responsáveis pelo projeto</h4>
            Anabela Moreira<br>
            Inês Serrano
        </div>
        <div style="margin-bottom: 20px">
            <h4 style="color: peru">Fotografias e digitalização de imagens</h4>
            Laboratório de Fotografia do Instituto Politécnico de Tomar
        </div>

        <p style="font-size: 16px; color: rgb(175, 88, 38); font-style: italic; text-align: justify; margin-bottom: 20px">
            Toda a informação contida na aplicação foi fornecida pelas professoras, e responsáveis pelo projeto,
            Anabela Moreira e Inês Serrano.

            <!-- ~\ProjetoFinal\Guia\www\img\ipt.png -->
            <div style="margin-bottom:8px">
                <img src="~/fotos/ipt.png" style="height:75px" />
            </div>
    </div>
</div>