@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><a class="btn btn-primary btn-lg" style="margin:20px;"href="@Url.Action("Create","PontosInteresse")">Criar novo Ponto de Interesse</a></p>
    <p><a class="btn btn-primary btn-lg" style="margin:20px;" href="@Url.Action("Create","Imagens")">Adicionar nova imagem</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestão de utilizadores</h2>
        <p>
            Função de administrador
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register","Account")">Criar novo utilizador &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RAM Tomar(1930-65) (Early Access)</h2>
        <p>O guia virtual do Roteiro de Arquitectura Moderna da cidade de Tomar integra um conjunto selecionado de edificios públicos e residenciais que foram projectados entre 1930 e 1965.</p>
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=ipt.RAMTomar&hl=en_US">Download da aplicação &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>aaa</h2>
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>