@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RAM Tomar</h1>
    <p class="lead">Lorem ipsum</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Register","Account")">Criar novo utilizador</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>cccccccccccccc</h2>
        <p>
            ccccccccccccccccccccccccccccccccccccccccccccccc
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register","Account")">Criar novo utilizador</a></p>
    </div>
    <div class="col-md-4">
        <h2>bbbbbbbbbbbbbbbs</h2>
        <p>bbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>aaa</h2>
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>