@model BackOfficeRAM.Models.IndexViewModel
@{
    ViewBag.Title = "Gerir Conta";
}
<br />

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <br />
    <h2>@HttpContext.Current.User.Identity.Name</h2>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <p><a class="btn btn-warning" href="@Url.Action("ChangePassword")">Alterar Password</a></p>
        </dd>
    </dl>
</div>
