@model BackOfficeRAM.ViewModels.CreateEditPontoInteresseViewModel

@{
    ViewBag.Title = "Create";
}



<br />
<h4> Novo Ponto de Interesse</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_FormCreateEdit")
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
