@model BackOfficeRAM.ViewModels.CreateEditPontoInteresseViewModel

@{
    ViewBag.Title = "Edit";
}

<script>
    $(document).ready(function () {
        $('#botaoPontos').addClass('active');
    });
</script>

<br />
<h2>Editar Ponto de Interesse</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_FormCreateEdit")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
