@model BackOfficeRAM.ViewModels.CreateEditPontoInteresseViewModel

@{
    ViewBag.Title = "Edit";
}


<br />
<h2>Editar Ponto de Interesse</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_FormCreateEdit")
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
