<br />
<br />
<br />
<h4 class="alert alert-success">O seu Ponto de Interesse foi submetido para aprovação. Agora pode inserir imagens e associá-las ao seu ponto. Depois de o Ponto ser aprovado, não poderá adicionar ou remover imagens.</h4>
<a href="@Url.Action("Create", "Imagens")">Adicionar imagem</a>
<br />
<br />
