<br />
<br />
<br />
<h5 class="alert alert-success">O seu Ponto de Interesse foi submetido para aprovação.</br><br />
Pode inserir imagens e associá-las ao seu Ponto. Depois de o mesmo ser aprovado, não poderá adicionar imagens.</h5>
<br />
<a href="@Url.Action("Create", "Imagens")" class="btn btn-primary">Adicionar imagem</a>
<br />
<br />
